# Python
__pycache__/
*.py[cod]
*.pyd
.venv/
venv/
build/
dist/
.coverage*
htmlcov/
.pytest_cache/

# Local env/secrets
.env
.env.*
*.local

# Azure local/runtime
.azure/
.azure-functions-core-tools/
.python_packages/
local.settings.json

# IDE/editor
.vscode/
.idea/
*.iml

# OS junk
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/